<!-- templates/partials/comment_form.html -->

<form action='/souls/comments' method='POST'>
    <input type='hidden' value='{{ soul._id }}' name='soul_id'/>
    <fieldset>
        <legend>Place a Bid</legend>
        <!-- TITLE -->
        <!-- <div class='form-group'>
            <label for='comment-title'>Title</label><br>
            <input class='form-control'
                id='comment-title'
                type='text'
                name='title'
                placeholder='Title'/>
        </div> -->

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='comment-content'>Place Your Bid</label><br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='1'
                placeholder='Your Bid...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Save Bid</button>
    </div>
</form>
