<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="styles.css">




<div class="container jumbotron">
    <h2>Souls for sale</h2>

    <h4><a href='/souls/new'>Sell Your Soul</a></h4>
    <div class="row">
        {% for soul in souls %}
        <div class="col-lg-4 col-md-12 mb-4">

                <br><br><br><br>
                <h2><a href='/souls/{{ soul._id }}'>{{ soul.name }}</a></h2><h4>${{ soul.price }}</h4>
                <img src="https://avatars.dicebear.com/v2/jdenticon/{{ soul._id }}.svg" alt="{{ soul.name }}" width="300">
                <br><br><br><br>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
