<!-- templates/souls_new.html -->
{% extends 'base.html' %}

{% block content %}

<form method='POST' action='/souls'>
    <fieldset>
    <legend>New Soul</legend>
    <!-- TITLE -->
    <p>
        <label for= 'name'>Name</label><br>
        <input type='text' name='name' />
    </p>

    <!-- PRICE -->
    <p>
        <label for="price">Price</label><br>
        <input type='text' name='price' />
    </p>

    <!-- SOUL IDS -->

    </fieldset>

    <!-- Button -->
    <p>
        <button type='submit'>Save Soul</button>
    </p>
</form>
{% endblock %}
