<!-- souls_buy-->
{% extends 'base.html' %}

{% block content %}
<div class='container jumbotron centered'>
    <a href='/'>Back to Home</a>
    <h1>{{ soul.name }}'s soul</h1>
        <img src="https://avatars.dicebear.com/v2/jdenticon/{{ soul._id }}.svg" alt="{{ soul.name }}" width="300">
    <h3>Asking Price:</h3>
    <h2>${{ soul.price }}</h2>

    <div class='container row'>
        <form action="MAILTO:w.patrick.kelly@gmail.com" method="post" enctype="text/plain">
            Name:<br>
                <input type="text" name="name"><br>
            E-mail:<br>
                <input type="text" name="mail"><br>
            Comment:<br>
                <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </div>
</div>
{% endblock %}
