<!-- templates/souls_new.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container jumbotron">


    <a href='/'>Back to Home</a>
    <form method='POST' action='/souls'>
        <fieldset>
        <legend>New Soul</legend>
        <!-- TITLE -->
        <p>
            <label for= 'name'>Name</label><br>
            <input type='text' name='name' />

        </p>
        <!-- Email -->
        <p>
            <label for= 'Email '>Email</label><br>
            <input type='text' name='Email' />

        </p>

        <!-- PRICE -->
        <p>
            <label for="price">Price</label><br>
            <input type='text' name='price' />
        </p>

        <!-- SOUL IDS -->

        </fieldset>

        <!-- Button -->
        <p>
            <button type='submit'>Save Your Soul</button>
        </p>
    </form>
</div>
{% endblock %}
